@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>@ViewBag.Title-OnlineMobileShopping</title>
    @Styles.Render("~/Styles/bootstrap")
    @Styles.Render("~/Styles/site")
    @Scripts.Render("~/Scripts/bootstrap")
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm text-light navbar-light">
            <a class="navbar-brand" href="#">OnlineMobileShopping</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavBar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavBar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Views/Home/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Views/Home/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Views/Home/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Views/Home/brands">brands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Views/Home/mobiles">Mobiles</a>
                    </li>
                    @if (Session["CurrentUserName"] == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="~/Views/Account/Login"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Views/Account/SignUp"></a>
                        </li>
                    }
                    @if (Session["CrrentUserName"] != null)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                <img src="" width="20" />
                            </a>
                            <div class="dropdown-menu" bg-info>
                                <a class="dropdown-item" href="~/Views/Account/Logout">LogOut</a>
                                <a class="dropdown-item" href="~/Views/Account/ChangeProfile">Change Profile</a>
                                <a class="dropdown-item" href="~/Views/Account/ChangePassword">Change Password</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <form class="form-inline" action="~/Views/Home/Search">
                <input type="search" class="form-control mr-sm-2" style="width:150px" placeholder="Search" name="str" />
            </form>
        </nav>
        @RenderBody()
    </div>
</body>
</html>
